<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407756248226-9dnd854ufqtjbvqgoolrtllocvb9pbau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407756248226-9dnd854ufqtjbvqgoolrtllocvb9pbau</string>
	<key>API_KEY</key>
	<string>AIzaSyBqpxRkBXeoqpxiEBcVCBDDNxXzmJ7MLjM</string>
	<key>GCM_SENDER_ID</key>
	<string>407756248226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohininani.legalNest</string>
	<key>PROJECT_ID</key>
	<string>legal-nest</string>
	<key>STORAGE_BUCKET</key>
	<string>legal-nest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407756248226:ios:a17fe9d882db05184eb3fb</string>
</dict>
</plist>